/* Basic Reset*/
*{
    marigin: 0;
    padding: 0;
    box-sizing: border-box;
}

Body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(4, 41, 56);
    color: white;
    line-height: 1.6;
}

/* Header */
header {
    background-color: rgb(4, 41, 56);
    color: white;
    padding: 20px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: rgb(151, 229, 255);
}

/* Hero Section */
.hero {
    background-color: rgb(4, 41, 56);
    padding: 40px 20px;
    text-align: center;

}

.hero h2 {
    font-size: 2 rem;
    margin-bottom: 10px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 30px 10px;
    background-color: rgb(4, 41, 56);

}
.product {
    background-color: rgb(4, 41, 56);
    padding: 20px;
    flex: 1 1 250px;
    border-radius: 8px;
    transition: transform 0.3s ease;

}

.product:hover {
    transform: translateY(-5px);


}

/* CTA Update Form */
.cta-form {
    text-align: center;
    padding: 30px 10px;
}
 
input[type="text"]{
    padding: 10px;
    width: 60%;
    max-width: 400px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

button {
    padding: 10px 20px;
    background-color: rgb(151, 229, 255);
    color: rgb(4, 41, 56);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(4, 41, 56);
    color: white;
}

/* Footer */
footer {