/* Basic Reset*/
*{
    marigin: 0;
    padding: 0;
    box-sizing: border-box;
}

Body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(4, 41, 56);
    color: white;
    line-height: 1.6;
}

/* Header */
header {
    background-color: rgb(4, 41, 56);
    color: white;
    padding: 20px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: rgb(151, 229, 255);
}